body,html {
    background-image: url("photo.jpg");
    background-size: cover;

  }
  
  
  * {
    box-sizing: border-box;
  }
  
  /* Add styles to the form container */
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    padding: 16px;
    background-color: white;
    z-index: 1;
    border:1px solid black;
    padding:20px;
  }
  .error{
    color: red;
  }
  /* Full-width input fields */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus,input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
   
   .btn:hover {
    opacity: 1;
  } 
  .bg-img {
    /* The image used */
    background-image: url("photo.jpg");
    background-repeat: no-repeat;
  
  }
  
   
